    <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Proceso de Campaña</strong></div>
    <div class="panel-body">
        <div class="col-sm-11">
           <textarea name="" id="" class="form-control" rows="4" data-ng-model="form.notas"></textarea>
        </div>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Layout Base de Datos</strong></div>
    <div class="panel-body">
        <div class="col-sm-11">
           <textarea name="" id="" class="form-control" rows="4" data-ng-model="form.notas"></textarea>
        </div>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Reportes</strong></div>
    <div class="panel-body">
        <div class="col-sm-11">
           <textarea name="" id="" class="form-control" rows="4" data-ng-model="form.notas"></textarea>
        </div>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Notas</strong></div>
    <div class="panel-body">
        <div class="col-sm-11">
           <textarea name="" id="" class="form-control" rows="4" data-ng-model="form.notas"></textarea>
        </div>
    </div>
    </div>
 
    <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Formulario de Campaña</strong></div>
    <div class="panel-body">
        <!--<div class="col-sm-11">
           <textarea name="" id="" class="form-control" rows="4" data-ng-model="form.notas"></textarea>
        </div>-->
        <div class="col-md-4">
            <label for="">Fecha de Inicio</label>
            <input type="text"
                   class="form-control"
                   required
                   data-ng-model="form.required2"
            >
        </div>
        <div class="col-md-4">
            <label for="">Fecha de Fin</label>
            <input type="text"
                   class="form-control"
                   required
                   data-ng-model="form.required2"
            >
        </div>
        
    </div>