<!-- INICIO Panel Detalle Op. -->   

<!--    A ALTA DE CAMPAÑA
<section class="panel panel-default">

        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Detalle de Operación</strong></div>

        <div class="panel-body">
            <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for=""> Layout Base de Datos</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Subir</button>
                                    </span>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <label for=""> Reportes/Informes a Cliente</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Subir</button>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for=""> No Call</label>
                              <span class="ui-select">
                                    <select>
                                        <option value=1>Incluye</option>
                                        <option value=2>No Incluye</option>
                                    </select>
                              </span>
                        </div>
                        <div class="col-md-4">
                            <label for=""> Formulario de Campaña</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Subir</button>
                                    </span>
                                </div>
                        </div>
                    </div>
                <div class="divider divider-dashed divider-lg pull-in"></div>
                <div class="form-group">
                    <label for="" class="col-sm-1">Descripción Proceso</label>
                    <div class="col-sm-11">
                        <textarea name="" id="" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                </div>
            </form>
        </div>
</section> -->
<!-- FIN Panel Detalle Op.s -->


<!--Inicio Panel Tabla Requerimiento Equipo de Operadores -->
        <!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Requerimiento de Recursos</h3>
                </div>
                <div class="panel-body">
                              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Perfil</th>
                            <th>Nivel</th>
                            <th>Expertise</th>
                            <th>Carga Horaria</th>
                            <th>Turno</th>
                            <th>Cantidad</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gerente</td>
                            <td>Senior</td>
                            <td>Atención al cliente</td>
                            <td>5hs</td>
                            <td>Noche</td>
                            <td>1</td>
                         </tr>
                        <tr>
                            <td>Team Leader</td>
                            <td>Semisenior</td>
                            <td>Bilingue</td>
                            <td>5hs</td>
                            <td>Noche</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Operador</td>
                            <td>Semisenior</td>
                            <td>Bilingue</td>
                            <td>5hs</td>
                            <td>Noche</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                </div>
            </div> -->
<!--FIN Tabla Periodo Incremento-->

<!-- FIN Panel Detalle Op.s -->

<!-- INICIO Panel Req. Tecno -->
    <!--      
<section class="panel panel-default">

        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Requerimientos Tecnológicos</strong></div>

        <div class="panel-body">
            <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for=""> Hardware</label>
                                <input  type="text"
                                        class="form-control"
                                        required
                                        data-ng-model="form.prov"
                                >
                                <span></span>
                        </div>
                        <div class="col-md-4">
                            <label for=""> Software</label>
                                <input  type="text"
                                        class="form-control"
                                        required
                                        data-ng-model="form.ciudad"
                                >
                                <span></span>
                        </div>
                        <div class="col-md-4">
                            <label for=""> Tipo de Discadores</label>
                                <span class="ui-select">
                                    <select>
                                        <option value=1>Discador predictivo</option>
                                        <option value=2>Discador potencia</option>
                                        <option value=3>Discado manual</option>
                                    </select>
                              </span>
                        </div>
                    </div>
                </div>
                <div class="divider divider-dashed divider-lg pull-in"></div>
                <div class="form-group">
                    <label for="" class="col-sm-1">Notas</label>
                    <div class="col-sm-11">
                        <textarea name="" id="" class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </form>
        </div>
</section>
    -->
<!-- FIN Panel Req. Tecno  -->